#page {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 500px 1fr;
}

#board {
    grid-row: 2;
    grid-column: 2;
}

#roomID {
    grid-row: 1;
    grid-column: 2;
}

.chat {
    grid-row: 2;
    grid-column: 3;
}

.gameOver {
    grid-row: 3;
    grid-column: 2;
}

#turnColor {
    grid-row: 2;
    grid-column: 1;
}