.chatbox {
    text-align: center;
    width: 1fr;
    height: 450px;
    overflow: auto;
    border: 2px solid #00acb0;
    box-shadow: 3px 3px 3px gray;
    margin: 5px;
}

.message {
    border-radius: 10px;
    width: 1fr;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    background-color: #e9e9e9;
    box-shadow: 3px 3px 3px gray;
}