.container {
    text-align: center;
    align-items: center;
}

#rooms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.room {
    margin: 10px;
    width: 130px;
    text-align: center;
}

.room:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.help {
    font-size: 8;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
