.container {
    text-align: center;
    align-items: center;
}

#rooms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.room {
    margin: 10px;
    width: 130px;
    text-align: center;
}

.room:hover {
    cursor: pointer;
    background-color: aliceblue;
}